input {
file {
    path => "C:/work/4d-time-series-visualiser/UNdata_religion.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"		
     }		
}
filter {
   csv
     {
	separator =>","
        columns => [ "Country or Area","Year","Area","Sex","Religion","Record Type","Reliability","Source","Year","Value" ]
     }	
    mutate {convert => ["Value","float"] }	
}
output {
elasticsearch {
	hosts => "localhost"
	index => "data_religion"
        document_type => "population_by_religion" 
}
stdout{}
}